<div class="row row-content">
	<div class="col-xs-12">
		<ol class="breadcrumb">
			<% if current_user.manager? or current_user.administrator? %>
			<li><a href="<%= root_path %>">Inicio</a></li>
			<% end %>
			<li><a href="<%= users_path %>">Usuarios</a></li>
			<li>Nuevo Usuario</li>
		</ol>
	</div>
	<div class="col-xs-12">
		<h1 class="bold">Crear usuario</h1>
	</div>
</div>

<div class="row">
	<div class="col-xs-12 bot-space">
		<div class="box-content">
			<%= bv_form_for(@user, url: {action: 'create_user'}, html: { class: 'bform'}) do |form| %>
			<div class="card-shadow-body">
				<%= render 'form', form: form %>
			</div>
			<div class="text-right">
				<%= button_tag(type: "submit", id: "submit-user", class: 'btn btn-miele', disabled: true) do %>
				Crear usuario
				<% end %>
			</div>
			<% end %>
		</div>
	</div>
</div>