<div class="row row-content">
	<div class="col-xs-12">
		<ol class="breadcrumb">
			<li><a href="<%= root_path %>">Inicio</a></li>
			<li><a href="<%= promotional_codes_path %>">C贸digos de Descuento</a></li>
			<li>Nuevo C贸digo</li>
		</ol>
		<h1 class="bold">Crear c贸digo</h1>
	</div>
</div>

<div class="row">
	<div class="col-xs-12 bot-space">
		<div class="box-content">
			<%= bv_form_for(@code, html: { class: 'bform'}) do |form| %>
			<div class="card-shadow-body">
				<%= render 'form', form: form %>
			</div>
			<div class="text-right">
				<%= button_tag(type: "submit", id: "submit-code", class: 'btn btn-miele', disabled: true) do %>
				Crear c贸digo
				<% end %>
			</div>
			<% end %>
		</div>
	</div>
</div>