<% if @is_for_miele %>
<p>
	Los artículos pertenecientes a cotización N° <%= @quotation.is_retail? ? @quotation.oc_number : @quotation.code %> fueron despachados el día <%= Date.today.strftime("%d/%m/%Y") %> en su totalidad.
	<ul>
		<% @quotation.quotation_products.where(available: true, dispatch: true).each do |item| %> 
		<li><%= "<b>#{item.product.sku}</b> #{item.product.name}".html_safe %> </li>
		<% end %>
	</ul>
</p>
<p>
	Puedes ver todos los detalles en la pestaña "Despacho" de tu cotización <%= link_to 'aquí.', quotation_url(@quotation) %>
</p>
<% else %>
<p>
	Estimado(a) <%= @quotation.name %>, 
</p>
<p>
	Tus productos van en camino.
</p>
<p>
	Los artículos pertenecientes a cotización N° <%= @quotation.is_retail? ? @quotation.oc_number : @quotation.code %> fueron despachados en su totalidad.
	<ul>
		<% @quotation.quotation_products.where(available: true, dispatch: true).each do |item| %> 
		<li><%= "<b>#{item.product.sku}</b> #{item.product.name}".html_safe %> </li>
		<% end %>
	</ul>
</p>
<p>
	Recuerda que si no encontramos a alguien autorizado para recibir tu pedido en la dirección indicada, te contactaremos al teléfono detallado en la cotización para coordinar una próxima visita.
</p>
<p>#LifeBeyondOrdinary.</p>
<% end %>