<!-- ITEMS -->
<% if locals[:quotation].quotation_products.availables.count > 0 %>
<div class="row bold text-center pt12">
	<div class="col-pdf-10 pdf-item">Imagen</div>
	<div class="col-pdf-20 pdf-item">Nombre del Producto</div>
	<div class="col-pdf-10 pdf-item">TNR</div>
	<div class="col-pdf-10 pdf-item">Mandatorio</div>
	<div class="col-pdf-10 pdf-item">Despacho</div>
	<div class="col-pdf-10 pdf-item">Instalación</div>
	<div class="col-pdf-10 pdf-item">Cantidad</div>
	<div class="col-pdf-10 pdf-item">Precio</div>
	<div class="col-pdf-10 pdf-item">Total</div>
</div>
<br>
<div class="row top-space">
	<div class="col-xs-12 box-pdf">
		<% count = 1 %>
		<% page = 1 %>
		<% locals[:quotation].quotation_products.availables.order(is_service: :asc).each do |product| %>
		<% divisor = (page == 1 ? 2 : 7) %>
		<% if count%divisor == 0 %>
		<% count = 1 %>
		<% page += 1 %>
	</div>
</div>
<div class="page-break"></div>
<br>
<br>
<div class="row top-space">
	<div class="col-xs-12 box-pdf">
		<div class="row bold text-center pt12">
			<div class="col-pdf-10 pdf-item">Imagen</div>
			<div class="col-pdf-20 pdf-item">Nombre del Producto</div>
			<div class="col-pdf-10 pdf-item">TNR</div>
			<div class="col-pdf-10 pdf-item">Mandatorio</div>
			<div class="col-pdf-10 pdf-item">Despacho</div>
			<div class="col-pdf-10 pdf-item">Instalación</div>
			<div class="col-pdf-10 pdf-item">Cantidad</div>
			<div class="col-pdf-10 pdf-item">Precio</div>
			<div class="col-pdf-10 pdf-item">Total</div>
		</div>
		<br>
		<% end %>
		<div class="row light-text bot-border">
			<div class="col-pdf-10 pdf-item text-space-card">
				<% if Rails.env.production? %>
				<% if locals[:quotation].bstock %>
				<%= image_tag image_pdf(product.product.try(:original_product)), class: "pdf-product-img" %>
				<% else %>
				<%= image_tag image_pdf(product.product), class: "pdf-product-img" %>
				<% end %>
				<% else %>
				<% if locals[:quotation].bstock %>
				<%= wicked_pdf_image_tag product.product.try(:original_product).try(:get_product_photo), class: "pdf-product-img" %>
				<% else %>
				<%= wicked_pdf_image_tag product.product.get_product_photo, class: "pdf-product-img" %>
				<% end %>
				<% end %>
			</div>
			<div class="col-pdf-20 pdf-item text-space-card">
				<p>
					<%= product.name %>
				</p>
				<% if locals[:quotation].bstock %>
				<p>EAN: <%= product.product.ean %></p>
				<% end %>
				<% if product.product.stock <= 2 and !locals[:quotation].bstock && product.product.stock > 0 %>
					<p class="miele-text"><%= t("last_products_label") %></p>
				<% elsif product.product.stock == 0 && product.product.stock_break%>
					<p class="miele-text"><%= t("backorderable_label")%></p>
				<% end %>
			</div>
			<div class="col-pdf-10 pdf-item text-space-card"><p><%= product.sku %>                      </p></div>
			<div class="col-pdf-10 pdf-item text-space-card"><p><%= product.mandatory ? "Sí" : "No" %>  </p></div>
			<div class="col-pdf-10 pdf-item text-space-card"><p><%= product.dispatch  ? "Sí" : "No" %>  </p></div>
			<div class="col-pdf-10 pdf-item text-space-card"><p><%= product.instalation  ? "Sí" : "No" %>  </p></div>
			<div class="col-pdf-10 pdf-item text-space-card"><p><%= product.quantity %>                 </p></div>
			<div class="col-pdf-10 pdf-item text-space-card">
				<% if locals[:quotation].bstock %>
				<p class="no-bottom"><span class="new-price pt12 no-bottom"><%= number_to_currency(product.price) %></span></p><p><span class="old-price tached"><%= number_to_currency(Product.find_by(sku: product.product.sku, ean: nil).price) %></span></p>
				<% else %>
				<% if product.product.display_price(locals[:quotation].user)[0] %>
				<p class="no-bottom"><span class="new-price pt12 no-bottom"><%= number_to_currency(product.product.display_price(locals[:quotation].user)[1]) %></span></p><p><span class="old-price tached"><%= number_to_currency(product.product.price) %></span></p>
				<% else %>
				<p><%= number_to_currency(product.price) %></p>
				<% end %>
				<% end %>
			</div>
			<div class="col-pdf-10 pdf-item text-space-card"><p><%= number_to_currency(product.price * product.quantity) %></p></div>
		</div>
		<% count += 1 %>
		<% end %> 
	</div>
</div>
<% end %> 