    <div class="quotation-box pad-box">
        <div class="row">   
            <div class="col-md-12 col-xs-12 text-left">
                <p class="title-box-checkout" style="font-size: 18px !important;">Unidad inmobiliaria</p>
            </div>
        </div>
        <div class="row">
            <br>
            <div class="col-md-3 col-xs-12">
                <p class="title-input-real_state">Nombre</p>
                <input class="input-real_state" type="text" name="u_tit" multiple="true" id=<%="name_unit_"+unit_real_state.id.to_s%> class="input-real_state" value="<%=unit_real_state.name%>">
            </div>
            <div class="col-md-3 col-xs-12">
                <p class="title-input-real_state">Cantidad de unidades</p>
                <input class="input-real_state" type="number" name="u_tit" multiple="true" id=<%="quantity_unit_"+unit_real_state.id.to_s%> class="input-real_state" value="<%=unit_real_state.quantity%>">
            </div>
            <div class="col-md-3 col-xs-12">
                <p class="title-input-real_state">Productos por unidad</p>
                <input  id=<%="products_quantity_unit_"+unit_real_state.id.to_s%> min="1" class="input-real_state" type="number"  multiple="true" class="input-real_state" value="<%=unit_real_state.products_quantity%>">
            </div>
    
        </div>

        <div class="row">
            <br>
            <div class="col-md-3 col-xs-12">
                <p class="title-input-real_state">Total de productos de unidad</p>
                <input id=<%="total_product_unit_"+unit_real_state.id.to_s%> class="input-real_state field-bordered" type="text" name="u_tit" multiple="true"  value="<%= (!unit_real_state.quantity.nil? && !unit_real_state.products_quantity.nil?) ? (unit_real_state.quantity * unit_real_state.products_quantity) : nil %>" disabled>
            </div>
            <div class="col-md-3 col-xs-12">
                <p class="title-input-real_state">Valor por unidad inmobiliaria</p>
                <input id=<%="value_unit_"+unit_real_state.id.to_s%> class="input-real_state field-bordered" type="text" name="u_tit" multiple="true" value="<%=unit_real_state.unit_value%>" disabled>
            </div>
            <div class="col-md-3 col-xs-12">
                <p class="title-input-real_state">Valor total de unidades</p>
                <input id=<%="total_value_unit_"+unit_real_state.id.to_s%> class="input-real_state field-bordered" type="text" name="u_tit" multiple="true" value="<%=unit_real_state.total_value%>" disabled>
            </div>
        </div>

        <div class="row">
            <br>
            <div class="col-xs-12">
                <div class="form-group actions-container text-right">
                <a  class="btn btn-flat" onclick="deleteUnit(<%=unit_real_state.id%>)">
                    Eliminar
                </a>
                
                
                <a  class="btn btn-miele save-dispatch" onclick="updateUnit(<%=unit_real_state.id%>)">
                    Guardar
                </a>
                    
                    </div>
                </div>
                </div>
        </div>

<script>
    function deleteUnit(id){
        $.ajax({
                url: `/unit_real_states/delete_show/${id}`,
                type : 'delete'
                }).done(function (data) {
            })
    }

    function updateUnit(id){
        var data = {
        unit_real_state: {
            name: document.getElementById('name_unit_'+id).value,
            quantity: document.getElementById('quantity_unit_'+id).value,
            products_quantity: document.getElementById('products_quantity_unit_'+id).value,
            is_rm: "show",
            quotation_id: <%=quotation.id%>
            }
        }
        $.ajax({
                url: `/unit_real_states/update_show/${id}`,
                type : 'patch',
                data: data
            }).done(function (data) {
        })
    }


</script>